{% extends 'home/base.html' %}
{% load static %}
{% block title %}Articles{% endblock %}

{% block styles %}

{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="sidebar">
        <h4 style="font-style: italic;">Autres articles : </h4> <br>
        {% for article in articles %}

        <a href="./articles/{{article.id}}" style="color:rgb(238, 234, 234);"> {{article.nom}}</a>
            <br>
   {% endfor %}
        
    </div>
        </div>
      <div class="col-xl">
        <h1>{{article.nom}}</h1>
        <img
        src="{{article.images.url }}"
        alt="thumb"
        class="img-fluid img-lg"
      />     
      <br>
      {{article.contenu|safe}}
      <br>   <div {{article.contenu}} style="text-align: left;"></div>

      </div>
    </div>
  </div>


{% endblock %}
