{% load static %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

        {% block styles %}{% endblock %}
    </head>
    <body id="page-top" style="background-color:#2c2c2c;">


        <nav class="navbar navbar-expand-lg bg-dark text-uppercase fixed-top" id="mainNav">
          <div class="container" >
              <a class="navbar-brand" href="https://bdsimtbrest.herokuapp.com/" style="color: seagreen;">Bureau des Sports</a>
              <button class="navbar-toggler text-uppercase font-weight-bold bg-dark text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                  Menu
                  <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ms-auto">
                      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="./sports">Sports</a></li>
                      <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="./Atlanticup">AtlantiCup</a></li>
                  </ul>
              </div>
          </div>
      </nav>

        
      
       <section class="content" style="color: white; margin-top: 10%;" >
         {% block content %}
      
         {% endblock %}
         
         
       </section> 
      </body>

        

        <!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <!-- Section: Links  -->
    <section class="" style="background-color: #2c2c2c; color:white; ">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Bureau des Sports IMT Brest
            </h6>
            <p>
              Ce site regroupe les différentes informations concernant la pratique du sport sur le campus IMT Atlantique Brest
            </p>
          </div>
          <!-- Grid column -->
  
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa- home me-3"></i> 
            <a href="https://www.facebook.com/bdsIMT"> Facebook</a></p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              <a href="https://www.instagram.com/lpa__imt/">Instagram</a>
            </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.85); color:white;">
      © 2021 Copyright: Bureau des Sports IMT Atlantique Brest
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- Core theme JS-->
  <script src="{% static 'js/scripts.js' %}"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    
</html>