{% extends 'home/base.html' %}

{% block title %}Accueil{% endblock %}

{% block styles %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}
  
<div class="content-wrapper">
    <div class="container">
      <div class="row" data-aos="fade-up">
        <div class="col-xl-8 stretch-card grid-margin" style="box-shadow: 10px 5px 5px #191A19;">
          <div class="position-relative">
            <a href="./articles/{{last_article.id}}">
            <img
              src="{{last_article.images.url}}"
              alt="banner"
              class="img-fluid "
            />
          
            <div class="banner-content bg-dark" style= "width: 100%; background-o; color: #EDEDED;">
              <div class="badge badge-danger fs-12 font-weight-bold mb-3">
                Atlantic Cup
              </div>
              <h1 class="mb-0" style="font-weight: bold;">{{last_article.nom}}</h1>
              <h4 class="mb-2" style="font-style: italic;">
                {{last_article.description}}
              </h4>
            
            </div>
          </a>
          </div>
        </div>
        <div class="col-xl-4 stretch-card grid-margin" style="color: #EDEDED;" >
          <div class="card bg-dark" style="box-shadow: 10px 5px 5px #191A19;">
            <div class="card-body">
              <h2>Derniers articles</h2>

              <div
                class="d-flex border-bottom-blue pt-3 pb-4 align-items-center justify-content-between"
              >
                <div class="pr-3">
                  <h5>{{other_articles.3.nom}}</h5>
                  
                </div>
                <div class="rotate-img">
                  <a href="./articles/{{other_articles.3.id}}">
                  <img
                    src="{{other_articles.3.images.url}}"
                    alt="thumb"
                    class="img-fluid img-lg"
                    style="max-height: 100px;"
                  />
                </a>
                </div>
              </div>

              <div
                class="d-flex border-bottom-blue pb-4 pt-4 align-items-center justify-content-between"
              >
                <div class="pr-3">
                  <h5>{{other_articles.2.nom}}</h5>
                 
                </div>
                <div class="rotate-img">
                  <a href="./articles/{{other_articles.2.id}}">
                  <img
                    src="{{other_articles.2.images.url}}"
                    alt="thumb"
                    class="img-fluid img-lg"
                    style="max-height: 100px;"
                  />
                  </a>
                </div>
              </div>

              <div
                class="d-flex pt-4 align-items-center justify-content-between"
              >
                <div class="pr-3">
                  <h5>{{other_articles.1.nom}}</h5>
                </div>
                <div class="rotate-img">
                  <a href="./articles/{{other_articles.1.id}}">
                  <img
                    src="{{other_articles.1.images.url}}"
                    alt="thumb"
                    class="img-fluid img-lg"
                    style="max-height: 100px;"
                  />
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

        </div>
      </div>


      <div class="col-container">
      

{% endblock %}
