{% extends 'home/base.html' %}
{% load static %}
{% block title %}Sports{% endblock %}

{% block styles %}

{% endblock %}

{% block content %}
<section class="page-section portfolio" id="portfolio">
    <div class="container">
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">

{% for sport in sports %}

    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal{{sport.nom}}">
            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-10 w-10">
                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="{{sport.avatar.url}}" alt="..." />
            <h2 style="text-align: center;">{{sport.nom}}</h2>
        </div>
    </div>

    <!-- Portfolio Modals-->
        <!-- Portfolio Modal 1-->
        <div class="portfolio-modal modal fade" id="portfolioModal{{sport.nom}}" tabindex="-1" aria-labelledby="portfolioModal{{sport.nom}}" aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-body text-center pb-5">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-lg-8">
                                    <!-- Portfolio Modal - Title-->
                                    <h2 class="portfolio-modal-title text-dark text-uppercase mb-0" >{{sport.nom}}</h2>
                                    <!-- Icon Divider-->
                                    <div class="divider-custom">
                                        <div class="divider-custom-line"></div>
                                        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                        <div class="divider-custom-line"></div>
                                    </div>

                                    <section class="container" style="margin-top: 10%;">
                                        <div class="row">
                                        <div class="col-sm-5">
                                            <div class="card">
                                                <div style="background-color: rgb(228, 228, 228); color: black;" class="card-body">
                                                    <h3>Horaires:</h3> <br>
                                                    {% autoescape off %}
                                                    {{sport.horaire}}
                                                    {% endautoescape %}
                                                    

                                                </div>
                                              </div>
                                            
                                          </div>

                                          <div class="col-lg-4 justify-content-center">
                                            <div>
                                                {% autoescape off %}
                                                    {{sport.lien}}
                                                    {% endautoescape %}

                                          </div>
                                          </div>
                                        </div>
                                    </section>

                                      <!-- Portfolio Modal - Title-->
                                   <h2 style="color:rgb(0, 0, 0); margin-top: 10%;" >Description</h2>
                                   <!-- Icon Divider-->
                                   <div class="divider-custom">
                                       <div class="divider-custom-line"></div>
                                       <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                       <div class="divider-custom-line"></div>
                                   </div>
                                <section class="mb-5" style="color: black;" >
                                    <p>{{sport.description}}</p>
                                    

                                </section>
                                    <!-- Portfolio Modal - Image
                                    <img class="img-fluid rounded mb-5" src="{{sport.animation.url}}" alt="..." /> -->
 
                                    <button class="btn-close " type="button" data-bs-dismiss="modal" aria-label="Close" style="background-color: rgb(228, 228, 228)">
                                        <i class="fas fa-times fa-fw"></i>
                                        Fermer
                                    </button>
                                </div>
                                <div class="col-sm-2 justify-content-center" >

                                    <img class="img-fluid" src="{{sport.animation.url}}" />
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endfor %}


            
            
</div>
</div>
</section>




{% endblock %}